:root {
    --btn-bg-color : #E4277D;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    padding-top: 50px; /* Add some padding to the top */
}

.auth-container button {
    background: var(--btn-bg-color);
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px; /* Adjust the vertical position of the button */
    width :auto;
}

.auth-container button:hover {
    background: white;
    color: var(--btn-bg-color);
}
