/* Snippets Page Styling */
:root {
    --container-color1: #E4277D;
    --container-color2: #FFB300;
    --btn-bg-color : #E4277D;
}

.container {
    max-width: 100%;
    margin: 40px auto;
    padding: 20px;
    background: linear-gradient(135deg, var(--container-color1), var(--container-color2));
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow-x: auto; /* Enable horizontal scrolling within the container if necessary */
}

h1 {
    font-size: 36px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.table-wrapper {
    display: flex;
    justify-content: space-between; /* Ensure the table and spacer are aligned */
}

table {
    width: 95%;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

thead {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

th {
    font-weight: bold;
    color: #333;
}

tbody tr {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

tbody tr:last-child {
    border-bottom: none;
}

td {
    color: #333;
}

.edit-box {
    border: none;
    resize: both;
    overflow: auto;
}

/* Transparent Spacer Styling */
.spacer {
    width: 5%;
    background-color: transparent; /* Keep it transparent */
    color : transparent
}

/* Action Button Styling */
.snippets-buttons {
    padding: 8px 12px;
    margin-bottom: 5px;
    width: 75px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}